/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
	--padding_left: 20vh;
}

body {
	background-color: #fbebeb;
	font-weight: bold;
	font-family: "Baloo 2", cursive;
}

.header_wrap {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px 30px;
	justify-content: space-between;
	align-items: center;
}

.header_wrap .header_logo {
	font-size: 1.5em;
}

.header_wrap .header_nav {
	padding: 0 20px;
	text-decoration: none;
	color: inherit;
	color: rgb(119, 119, 119);
	font-size: 0.8em;
}

.header_wrap .header_btns {
	color: rgb(119, 119, 119);
	font-size: 0.8em;
}

.header_wrap .header_btns i {
	padding-right: 20px;
}

.main_wrap {
	display: grid;
	grid: 100vh / repeat(2, 1fr);
}

.main_wrap .main_photo {
	background-image: url("https://images.unsplash.com/photo-1429087969512-1e85aab2683d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
}

.main_wrap .main_photo .page_number {
	font-size: 0.6em;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
}

.main_wrap .main_photo .page_number i {
	padding: 10px;
	color: rgb(71, 71, 71);
}

.main_wrap .main_content {
	display: flex;
	flex-direction: column;
}

.main_wrap .main_content .main_title {
	position: relative;
	font-size: 3em;
	margin: 25vh 0 20vh 20vh;
	margin: 25vh 0 var(--padding_left) 20vh;
}

.main_wrap .main_content .main_title .point {
	position: absolute;
	font-size: 8px;
	left: 133px;
	top: 2px;
}

.main_wrap .main_content .main_span {
	position: absolute;
	top: 40%;
	font-size: 0.8em;
	transform: rotate(270deg);
}

.main_wrap .main_content .main_pages {
	padding-left: 20vh;
	padding-left: var(--padding_left);
}

.main_wrap .main_content .main_pages .main_current-page {
	position: relative;
	font-size: 2.5em;
}

.main_wrap .main_content .main_pages .main_current-page .point {
	position: absolute;
	font-size: 8px;
	left: 7px;
	top: 3px;
}

.main_wrap .main_content .main_pages .main_total-pages {
	color: rgb(158, 158, 158);
}

.main_wrap .main_content .navigation {
	margin-top: auto;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.main_wrap .main_content .navigation .navigation_arrow {
	font-size: 30px;
	padding: 10px;
	line-height: 50px;
	color: grsay(40);
}

.main_wrap .main_content .navigation .navigation_icon {
	color: rgb(158, 158, 158);
	font-size: 1.2em;
	padding: 5px;
}

/*# sourceMappingURL=/style.e308ff8e.css.map */
